<aside class="flash row">
  <article flash-alert duration="0" active-class="alert" class="col-md-6 col-md-offset-3 col-sm-12">
    {{flash.message}}
  </article>
</aside>
<div class="container-fluid">
  <section class="col-md-12">
    <div ng-controller="HelpController"><div ng-include="template.url"></div></div>
  </section>

  <section class="col-md-12">
    <div ng-controller="GeometrySpecificationController"><div ng-include="template.url"></div></div>
  </section>

  <section class="col-md-12">
    <div ng-controller="SimulationSpecificationController"><div ng-include="template.url"></div></div>
  </section>

  <section class="col-md-4">
    <div ng-controller="JobSubmissionSpecificationController"><div ng-include="template.url"></div></div>
  </section>

  <section class="col-md-4">
    <div ng-controller="SimulationJobSpecificationController"><div ng-include="template.url"></div></div>
  </section>

  <section class="col-md-4">
    <div ng-controller="GeometryJobSpecificationController"><div ng-include="template.url"></div></div>
  </section>
</div>
