<aside class="flash row">
  <article flash-alert duration="0" active-class="alert" class="col-md-6 col-md-offset-3 col-sm-12">
    {{flash.message}}
  </article>
</aside>
<div class="container-fluid">
  <section class="col-md-12">
    <div class="row">
      <div class="col-md-12">
        <a ng-click="toggleHelp()" class="pull-right"><span class="glyphicon glyphicon-question-sign"></span></a>
        <article ng-if="showingHelp" class="panel panel-info">
          <div class="panel-body">
            <p>All attributes and geometry type names should be lowercase, singular and have spaces between words.</p>
          </div>
        </article>
      </div>
    </div>
    <article ng-repeat="geometry_type in geometry_types" class="panel panel-info">
      <header class="panel-heading">
        <div ng-if="!geometry_type.editing">
          <h3>
            {{geometry_type.name}}
          </h3>
          <a ng-click="geometry_type.startEdit()"><span class="glyphicon glyphicon-pencil"></span></a>
          <a ng-click="geometry_type.delete()"><span class="glyphicon glyphicon-trash"></span></a>
        </div>
      </header>
      <div class="panel-body">
        <div ng-if="geometry_type.editing">
          <h3>
            <input type="text" ng-model="geometry_type.name" class="form-control form-custom"></input>
          </h3>
          <a ng-click="geometry_type.stopEdit()"><span class="glyphicon glyphicon-ok"></span></a>
        </div>
        <table class="table">
          <thead>
            <tr>
              <th>Name</td>
              <th>Attribute Type</td>
              <th>Display Number</td>
              <th>Validation</td>
              <th>Usage</td>
              <th>Values</td>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="attribute_descriptor in geometry_type.attribute_descriptors()">
              <td ng-if="!attribute_descriptor.editing">{{attribute_descriptor.name}}</td>
              <td ng-if="!attribute_descriptor.editing">{{attribute_descriptor.attr_type}}</td>
              <td ng-if="!attribute_descriptor.editing">{{attribute_descriptor.display}}</td>
              <td ng-if="!attribute_descriptor.editing">{{attribute_descriptor.validation}}</td>
              <td ng-if="!attribute_descriptor.editing">{{attribute_descriptor.usage}}</td>

              <td ng-if="attribute_descriptor.editing"><input type="text" ng-model="attribute_descriptor.name" class="form-control form-custom"></input></td>
              <td ng-if="attribute_descriptor.editing">
                <select ng-options="option as option for option in ['text-input', 'select']" 
                        ng-model="attribute_descriptor.attr_type" class="form-control form-custom" /></select>
              </td>
              <td ng-if="attribute_descriptor.editing"><input type="text" ng-model="attribute_descriptor.display" class="form-control form-custom"></input></td>
              <td ng-if="attribute_descriptor.editing"><input type="text" ng-model="attribute_descriptor.validation" class="form-control form-custom"></input></td>
              <td ng-if="attribute_descriptor.editing">
                <select ng-options="option as option for option in ['geometry', 'assigned_geometry']"
                        ng-model="attribute_descriptor.usage" class="form-control form-custom" /></select>
              </td>
              <td>
                <span ng-if="attribute_descriptor.attr_type=='select'">
                  <span ng-if="!attribute_descriptor.editing" ng-repeat="val in attribute_descriptor.attribute_descriptor_values()">{{val.value}} - </span>
                  <span ng-if="attribute_descriptor.editing" ng-repeat="val in attribute_descriptor.attribute_descriptor_values()">
                    <input ng-model="val.value"></input>
                    <a ng-click="val.delete()"><span class="glyphicon glyphicon-trash"></span></a>
                  </span>
                  <a ng-if="attribute_descriptor.editing" ng-click="addAttributeDescriptorValue(attribute_descriptor)"><span class="glyphicon glyphicon-plus"></span></a>
                </span>
                <span ng-if="attribute_descriptor.attr_type!='select'">N/A</span>
              </td>
              <td ng-if="!attribute_descriptor.editing">
                <a ng-click="attribute_descriptor.startEdit()"><span class="glyphicon glyphicon-pencil"></span></a>
                <a ng-click="attribute_descriptor.delete()"><span class="glyphicon glyphicon-trash"></span></a>
              </td>
              <td ng-if="attribute_descriptor.editing"><a ng-click="stopEditing(attribute_descriptor)"><span class="glyphicon glyphicon-ok"></span></a></td>
            </tr>
          </tbody>
        </table>
        <a ng-click="addAttributeDescriptor(geometry_type.id)"><span class="glyphicon glyphicon-plus"></span> Attribute</a>
      </div>
    </article>
    <article class="panel panel-info">
      <header class="panel-heading">
        <a ng-click="addGeometryType()"><span class="glyphicon glyphicon-plus"></span> Geometry Type</a>
      </header>
    </article>
  </section>
  <section class="col-md-12">
    <article class="panel panel-info">
      <header class="panel-heading">
        <h2>Simulation Attributes:</h2>
      </header>
      <div class="panel-body">
        <table class="table">
          <thead>
            <tr>
              <th>Name</td>
              <th>Attribute Type</td>
              <th>Display Number</td>
              <th>Validation</td>
              <th>Usage</td>
              <th>Values</td>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="attribute_descriptor in simulation_attribute_descriptors">
              <td ng-if="!attribute_descriptor.editing">{{attribute_descriptor.name}}</td>
              <td ng-if="!attribute_descriptor.editing">{{attribute_descriptor.attr_type}}</td>
              <td ng-if="!attribute_descriptor.editing">{{attribute_descriptor.display}}</td>
              <td ng-if="!attribute_descriptor.editing">{{attribute_descriptor.validation}}</td>
              <td ng-if="!attribute_descriptor.editing">{{attribute_descriptor.usage}}</td>
              <td ng-if="attribute_descriptor.editing"><input type="text" ng-model="attribute_descriptor.name" class="form-control form-custom"></input></td>
              <td ng-if="attribute_descriptor.editing">
                <select ng-options="option as option for option in ['text-input', 'select']" 
                        ng-model="attribute_descriptor.attr_type" class="form-control form-custom" /></select>
              </td>
              <td ng-if="attribute_descriptor.editing"><input type="text" ng-model="attribute_descriptor.display" class="form-control form-custom"></input></td>
              <td ng-if="attribute_descriptor.editing"><input type="text" ng-model="attribute_descriptor.validation" class="form-control form-custom"></input></td>
              <td ng-if="attribute_descriptor.editing">{{attribute_descriptor.usage}}</td>
              <td>
                <span ng-if="attribute_descriptor.attr_type=='select'">
                  <span ng-if="!attribute_descriptor.editing" ng-repeat="val in attribute_descriptor.attribute_descriptor_values()">{{val.value}} - </span>
                  <span ng-if="attribute_descriptor.editing" ng-repeat="val in attribute_descriptor.attribute_descriptor_values()">
                    <input ng-model="val.value"></input>
                    <a ng-click="val.delete()"><span class="glyphicon glyphicon-trash"></span></a>
                  </span>
                  <a ng-if="attribute_descriptor.editing" ng-click="addAttributeDescriptorValue(attribute_descriptor)"><span class="glyphicon glyphicon-plus"></span></a>
                </span>
                <span ng-if="attribute_descriptor.attr_type!='select'">N/A</span>
              </td>
              <td ng-if="!attribute_descriptor.editing">
                <a ng-click="attribute_descriptor.startEdit()"><span class="glyphicon glyphicon-pencil"></span></a>
                <a ng-click="delete_simulation_attribute(attribute_descriptor)"><span class="glyphicon glyphicon-trash"></span></a>
              </td>
              <td ng-if="attribute_descriptor.editing"><a ng-click="stopEditing(attribute_descriptor)"><span class="glyphicon glyphicon-ok"></span></a></td>
            </tr>
          </tbody>
        </table>
      </div>
      <table class="table">
        <tr>
          <td>
            <a ng-click="add_simulation_attribute()"><span class="glyphicon glyphicon-plus"></span> Simulation Attribute</a>
          </td>
        </tr>
      </table>
    </article>
  </section>
</div>
