<div ng-controller="NavController">
  <div ng-include="template.url">
  </div>
</div>
<aside class="flash row">
  <article flash-alert duration="0" active-class="alert" class="col-md-6 col-md-offset-3 col-sm-12">
    {{flash.message}}
  </article>
</aside>
<section class="col-md-6 col-md-offset-3">
  <article class="panel panel-info">
    <header class="panel-heading">
      <h1>TotalSim</h1>
    </header>
    <div class="panel-body">
      <p>To get started, select a project on the left</p>
      <linechart data="data" options="options" height="400"></linechart>
    </div>
  </article>
</section>
