#PBS -N {{batch_job_name}}
#PBS -l {{#test}} {{test_compute_resources}} {{/test}} {{^test}} {{prod_compute_resources}} {{/test}}
#PBS -l {{#test}} {{test_walltime}} {{/test}} {{^test}} {{prod_walltime}} {{/test}}
#PBS -q {{batch_queue}}
#PBS -j oe
#PBS -S /bin/bash

cd $PBS_O_WORKDIR
APP_BIN={{app_bin}}
export PATH=$APP_BIN:$PATH
{{#should_setup}} setup_simulation `pwd` {{#test}} --test {{/test}} {{/should_setup}}
source script/batch_content_{{script_number}}.sh
