<div class="row" ng-repeat="geometry_type in geometry_types">
  <div class="col-md-12">
    <table class="table table-hover table-striped table-bordered">
      <thead>
        <tr>
          <th>{{geometry_type.name | pluralize | titlize}}</th>
          <th ng-repeat="(attr_name, attr_type) in geometry_type.assigned_attributes">{{attr_name}}</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="assigned_geo in simulation.assigned_geos()">
          <td ng-if="assigned_geo.geometry().geo_type==geometry_type.name">{{assigned_geo.geometry().name}}</td>
          <td ng-if="assigned_geo.geometry().geo_type==geometry_type.name && (!assigned_geo.editing || assigned_geo.simulation().final)" ng-repeat="(attr_name, attr_type) in assigned_geo.attributes()">
            {{assigned_geo[attr_name]}}
          </td>
          <td ng-if="assigned_geo.geometry().geo_type==geometry_type.name && assigned_geo.editing && !assigned_geo.simulation().final" ng-repeat="(attr_name, attr_type) in assigned_geo.attributes()">
            <input ng-if="attr_type=='free-input'" type="text" ng-model="assigned_geo[attr_name]" class="form-control" />
            <select type="text" ng-if="attr_type!='free-input'" ng-options="option as option for option in attr_type" ng-model="assigned_geo[attr_name]" class="form-control form-custom" /></select>
          </td>
          <td ng-if="assigned_geo.geometry().geo_type==geometry_type.name && assigned_geo.editing && !assigned_geo.simulation().final"><a ng-click="removeGeometry(assigned_geo.geometry())"><span class="glyphicon glyphicon-log-out"></span></a></td>
        </tr>
        <tr ng-if="simulation.editing && !simulation.final">
          <td ng-if="!addingGeometry(geometry_type.name)"><a ng-click="startAddingGeometry(geometry_type.name)"><span class="glyphicon glyphicon-plus"></span></a></td>
          <td ng-if="addingGeometry(geometry_type.name)"><a ng-click="stopAddingGeometry(geometry_type.name)"><span class="glyphicon glyphicon-ok"></span></a></td>
        </tr>
        <tr ng-if="simulation.editing && addingGeometry(geometry_type.name) && !simulation.final" ng-repeat="geo in geometryByType(geometry_type.name)">
          <td><a ng-click="addGeometry(geo)"><span class="glyphicon glyphicon-plus"></span></a> {{geo.name}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
