<article class="panel panel-info">
  <ul class="nav nav-tabs">
    <li role="presentation" class="active"><a>Geometries</a></li>
    <li role="presentation">
      <a ng-click="link('projects/'+activeProject.id+'/simulations')">Simulations</a>
    </li>
    <li role="presentation">
      <a ng-click="link('projects/'+activeProject.id+'/results')">Results</a>
    </li>
  </ul>
  <div class="panel-body">
    <div ng-repeat="geo in geometries">
      <div ng-if="geo == geometry">
        <span style="color:red">{{geo.geo_file_name | filename}}</span>
      </div>
      <div ng-if="geo != geometry">
        <a ng-click="link('projects/'+activeProject.id+'/geometries/'+geo.id)">{{geo.geo_file_name | filename}}</a>
      </div>
    </div>
    <a ng-if="!addingGeometry" ng-click="startAddingGeometry()"><span class="glyphicon glyphicon-plus"></span></a>
    <a ng-if="addingGeometry" ng-click="stopAddingGeometry()"><span class="glyphicon glyphicon-ok"></span></a>
    <div ng-if="addingGeometry">
      <div ng-repeat="geo_type in geometry_types"><a ng-click="addGeometry(geo_type.id)"><span class="glyphicon glyphicon-plus"></span> {{geo_type.name}}</a></div>
    </div>
  </div>
</article>
