<article class="panel panel-info">
  <header class="panel-heading">
    <h1 ng-if="!geometry.editing">{{geometry.name}}</h1>
    <h1 ng-if="geometry.editing"><input type="text" ng-model="geometry.name" class="form-control form-custom form-header" /></h1>
    {{geometry.geo_type}}
  </header>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
        <div class="btn-group">
          <a class="btn btn-default" ng-click="delete()"><span class="glyphicon glyphicon-trash"> Delete</span></a>
          <a class="btn btn-default" ng-click="report()"><span class="glyphicon glyphicon-exclamation-sign"> Report</span></a>
        </div>
        <a ng-if="!geometry.editing" ng-click="geometry.startEdit()" class="btn btn-default pull-right"><span class="glyphicon glyphicon-pencil"></span></a>
        <a ng-if="geometry.editing" ng-click="geometry.stopEdit()" class="btn btn-default pull-right"><span class="glyphicon glyphicon-ok"></span></a>
      </div>
    </div>

    <br />
    <div class="row">
      <div class="col-md-12">
        <p>File Upload</p>
      </div>
    </div>
    <br />
    <div ng-if="!geometry.editing">
      <div>{{geometry.description}}</div>
      <div ng-repeat="(index, attr_name) in geometry.attributes()">{{attr_name}}: {{geometry[attr_name]}}</div>
    </div>
    <div ng-if="geometry.editing">
      <p><textarea type="text" ng-model="geometry.description" class="form-control form-custom" /></p>
      <p ng-repeat="(index, attr_name) in geometry.attributes()">{{attr_name}}: <input type="text" ng-model="geometry[attr_name]" class="form-control form-custom" /></p>
    </div>
  </div>
</article>
