<article class="panel panel-info">
  <header class="panel-heading">
    <h1>{{geometry.geo_file_name | filename}}</h1>
    {{geometry.geo_type}}
  </header>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
        <div class="btn-group">
          <a class="btn btn-default" ng-click="delete()"><span class="glyphicon glyphicon-trash"> Delete</span></a>
          <a class="btn btn-default" ng-if="!showReport" ng-click="openReport()"><span class="glyphicon glyphicon-exclamation-sign"> Report</span></a>
          <a class="btn btn-default" ng-if="showReport">
            <span>Describe the issue:</span>
            <input type="text" ng-model="reportMessage" class="form-control form-custom" />
            <span class="glyphicon glyphicon-ok" ng-click="sendReport(reportMessage)"></span>
            <span class="glyphicon glyphicon-remove" ng-click="closeReport()"></span>
          </a>
          <a class="btn btn-default" ng-click="finish()" ng-if="!geometry.final"><span class="glyphicon glyphicon-ok"> Finalize</span></a>
          <a class="btn btn-default disabled" ng-if="geometry.final && geometry.status != 'Complete'">Calculating...</span></a>
          <a class="btn btn-default disabled" ng-if="geometry.final && geometry.status == 'Complete'">Finalized</span></a>
        </div>
        <a ng-if="!geometry.editing" ng-click="geometry.startEdit()" class="btn btn-default pull-right"><span class="glyphicon glyphicon-pencil"></span></a>
        <a ng-if="geometry.editing" ng-click="geometry.stopEdit()" class="btn btn-default pull-right"><span class="glyphicon glyphicon-ok"></span></a>
      </div>
    </div>
    <br />

    <div ng-if="!geometry.editing">
      <div>{{geometry.description}}</div>
    </div>
    <div ng-if="geometry.editing">
      <p><textarea type="text" ng-model="geometry.description" class="form-control form-custom" placeholder="Description" /></p>
    </div>
    <br />

    <div class="row">
      <div class="col-md-12">
        <div ng-if="!(geometry.editing && !geometry.final)">
          <span class="glyphicon glyphicon-file"></span>
          {{geometry.geo_file_name}}
        </div>
        <div ng-if="geometry.editing && !geometry.final"><sa-geometry-upload text="geometry.geo_file_name" id="geometry.id"></sa-geometry-upload></div>
      </div>
    </div>
    <br />

    <div class="row">
      <div class="col-md-4">
        <table class="table table-hover table-striped">
          <tbody>
            <tr ng-repeat="(attr, info) in geometry.attributes()">
              <td>{{attr | titlize}}</td>
              <td ng-if="!(geometry.editing && !geometry.final)">{{geometry[attr]}}</td>
              <td ng-if="geometry.editing && !geometry.final">
                <input ng-if="info.type=='text-input'" type="text" ng-model="geometry[attr]" class="form-control" />
                <select ng-if="info.type=='select'" type="text" ng-options="option as option for option in info.values" ng-model="geometry[attr]" class="form-control form-custom" /></select>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="col-md-4">
      </div>

      <div class="col-md-4">
        <div ng-if="geometry.results">
          <h4>Results</h4>
          <sa-json-human json="geometry.results"></sa-json-human>
        </div>
      </div>
    </div>
  </div>
</article>
