<article class="panel panel-info">
  <header class="panel-heading">
    <h1>Image Viewer</h1>
  </header>
  <div class="panel-body">

    <div class="col-md-6">
      <img src="..." alt="image 1" class="img-rounded">
    </div>

    <div class="col-md-6">
      <img src="..." alt="image 2" class="img-rounded">
    </div>

    <div class="col-md-6">
      <img src="..." alt="image 3" class="img-rounded">
    </div>

    <div class="col-md-6">
      <img src="..." alt="image 4" class="img-rounded">
    </div>

    <div class="col-md-12">
      Controls and options ...
    </div>

  </div>
</article>
