<article class="panel panel-info">
  <header class="panel-heading">
    <h1>Movie Viewer ABC</h1>
  </header>
  <div class="panel-body">
    <div class="row">
      <div ng-repeat="f in range(1, control.frameCount)">
        <div class="col-md-6" ng-if="urls[0].sim.id && f == control.frame">
          <img ng-src="{{urls[0].urls[f]}}" alt="{{urls[0].sim.name}}" class="img-rounded" style="width:100%">
        </div>
      </div>

      <div class="col-md-6" ng-if="urls[1].sim.id">
        <img ng-src="{{urls[1].url}}" alt="{{urls[1].sim.name}}" class="img-rounded" style="width:100%">
      </div>
    </div>

    <br />

    <div class="row">
      <div class="col-md-6" ng-if="urls[2].sim.id">
        <img ng-src="{{urls[2].url}}" alt="{{urls[2].sim.name}}" class="img-rounded" style="width:100%">
      </div>

      <div class="col-md-6" ng-if="urls[3].sim.id">
        <img ng-src="{{urls[3].url}}" alt="{{urls[3].sim.name}}" class="img-rounded" style="width:100%">
      </div>
    </div>

    <br />
    {{ control.frame }} / {{ control.frameCount }} <a ng-click="nextFrame()">next frame</a>

    <div class="row">
      <div class="col-md-3">
        <h4>Slice Normals:</h4>
        <div class="btn-group-vertical" role="group">
          <div ng-repeat="sliceNormal in sliceNormals"
            ng-click="updateVariableNames(sliceNormal)"
            class="btn btn-{{ sliceNormal == control.sliceNormal ? 'primary' : 'default'}}">
            {{sliceNormal | humanize}}
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <h4>Variable Names:</h4>
        <div class="btn-group-vertical" role="group">
          <div ng-repeat="variableName in variableNames"
            ng-click="updateComponentDirections(control.sliceNormal, variableName)"
            class="btn btn-{{ variableName == control.variableName ? 'primary' : 'default'}}">
            {{variableName}}
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <h4>Component Directions:</h4>
        <div class="btn-group-vertical" role="group">
          <div ng-repeat="componentDirection in componentDirections"
            ng-click="updateComponentDirection(componentDirection)"
            class="btn btn-{{ componentDirection == control.componentDirection ? 'primary' : 'default'}}">
            {{componentDirection}}
          </div>
        </div>
      </div>


    </div>
  </div>
</article>
