<article class="panel panel-info">
  <header class="panel-heading">
    <h1>Movie Viewer <span ng-if="updating.val" class="glyphicon glyphicon-refresh animate-spin"></span></h1>
  </header>
  <div class="panel-body">
    <div class="row">
      <div ng-repeat="index in [0, 1, 2, 3]">
        <div ng-repeat="f in range(1, control.frameCount)">
          <div class="col-md-6" ng-if="urls[index].sim.id && f == control.frame">
            <div>
              <img ng-src="{{urls[index].urls[f]}}" alt="{{urls[index].sim.name}}" class="img-rounded frame-{{ updating.val ? 'dont-show' : 'show'}}" style="width:100%">
              <br><br>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="progress">
          <div class="progress-bar no-animation" role="progressbar" 
            aria-valuenow="{{control.frame}}" aria-valuemin="0" 
            aria-valuemax="{{control.frameCount}}" style="width: {{(control.frame / control.frameCount) * 100 | number}}%">
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="btn-group">
          <button class="btn btn-default" ng-click="previousFrame()"><span class="glyphicon glyphicon-step-backward"></span></button> 
          <button class="btn btn-default" ng-click="fastBack()"><span class="glyphicon glyphicon-fast-backward"></span></button> 
          <button class="btn btn-default" ng-click="play()"><span class="glyphicon glyphicon-play"></span></button>
          <button class="btn btn-default" ng-click="pause()"><span class="glyphicon glyphicon-pause"></span></button>
          <button class="btn btn-default" ng-click="stop()"><span class="glyphicon glyphicon-stop"></span></button>
          <button class="btn btn-default" ng-click="fastForward()"><span class="glyphicon glyphicon-fast-forward"></span></button> 
          <button class="btn btn-default" ng-click="nextFrame()"><span class="glyphicon glyphicon-step-forward"></span></button> 
        </div>
        <span>Play Speed:</span>
        <input type="text" ng-model="control.playspeed" class="form-control form-custom form-header" />
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        <h4>Slice Normals:</h4>
        <div class="btn-group-vertical" role="group">
          <div ng-repeat="sliceNormal in sliceNormals"
            ng-click="updateVariableNames(sliceNormal)"
            class="btn btn-{{ sliceNormal == control.sliceNormal ? 'primary' : 'default'}}">
            {{sliceNormal | humanize}}
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <h4>Variable Names:</h4>
        <div class="btn-group-vertical" role="group">
          <div ng-repeat="variableName in variableNames"
            ng-click="updateComponentDirections(control.sliceNormal, variableName)"
            class="btn btn-{{ variableName == control.variableName ? 'primary' : 'default'}}">
            {{variableName}}
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <h4>Component Directions:</h4>
        <div class="btn-group-vertical" role="group">
          <div ng-repeat="componentDirection in componentDirections"
            ng-click="updateComponentDirection(componentDirection)"
            class="btn btn-{{ componentDirection == control.componentDirection ? 'primary' : 'default'}}">
            {{componentDirection}}
          </div>
        </div>
      </div>


    </div>
  </div>
</article>
