<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ng-click="link('projects')" ng-if="!activeProject">No Project Selected</a>
      <a class="navbar-brand" ng-click="link('projects/'+activeProject.id)" ng-if="activeProject">Project {{activeProject.id}}</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a ng-click="link('projects')">Edit Project</a></li>
        <li><a ng-click="addSim(activeProject)">Add Simulation</a></li>
        <li><a ng-click="addGeo(activeProject)">Add Geometry</a></li>
        <li><a ng-click="link('projects')">Add Project</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a ng-click="link('projects')">My Projects</a></li>
      </ul>
    </div>
  </div>
</nav>
