<table class="table">
  <tbody ng-if="!simulation.editing || simulation.final">
    <tr ng-repeat="attr in attributes">
      <td class="col-md-6">{{attr | humanize}}:</td>
      <td class="col-md-6">{{simulation[attr]}}</td>
    </tr>
  </tbody>
  <tbody ng-if="simulation.editing && !simulation.final">
    <tr ng-repeat="attr in attributes">
      <td class="col-md-6">{{attr | humanize}}:</td>
      <td class="col-md-6"><input type="text" ng-model="simulation[attr]" class="form-control form-custom" /></td>
    </tr>
  </tbody>
</table>
