<article ng-if="simSelected.selected" class="panel panel-info">
  <header class="panel-heading">
    <h1 ng-if="!simulation.editing">{{simulation.name}}</h1>
    <h1 ng-if="simulation.editing"><input type="text" ng-model="simulation.name" class="form-control form-custom" /></h1>
  </header>
  <div class="panel-body">
    <a ng-if="!simulation.editing" ng-click="simulation.startEdit()" class="pull-right"><span class="glyphicon glyphicon-pencil"></span></a>
    <a ng-if="simulation.editing" ng-click="simulation.stopEdit()" class="pull-right"><span class="glyphicon glyphicon-ok"></span></a>
    <div ng-if="!simulation.editing">
      <p>Description: {{simulation.description}}</p>
      <p>Measurement Scale: {{simulation.measurement_scale}}</p>
      <p>Fluid Type: {{simulation.fluid_type}}</p>
      <p>Kinematic Viscosity: {{simulation.kinematic_viscosity}}</p>
      <p>Density: {{simulation.density}}</p>
      <p>Steps: {{simulation.steps}}</p>
    </div>
    <div ng-if="simulation.editing">
      <p>Description: <input type="text" ng-model="simulation.description" class="form-control form-custom" /></p>
      <p>Measurement Scale: <input type="text" ng-model="simulation.measurement_scale" class="form-control form-custom" /></p>
      <p>Fluid Type: <input type="text" ng-model="simulation.fluid_type" class="form-control form-custom" /></p>
      <p>Kinematic Viscosity: <input type="text" ng-model="simulation.kinematic_viscosity" class="form-control form-custom" /></p>
      <p>Density: <input type="text" ng-model="simulation.density" class="form-control form-custom" /></p>
      <p>Steps: <input type="text" ng-model="simulation.steps" class="form-control form-custom" /></p>
    </div>
    <div>Status: {{simulation.status}}</div>
  </div>
</article>
<article ng-if="!simSelected.selected" class="panel panel-info">
  <header class="panel-heading"><h1></h1></header>
  <p class="panel-body">{{simSelected.message}}</p>
</article>
