<section class="col-md-6 col-md-offset-3">
  <div class="panel panel-default">
    <div class="panel-heading">
      {{title}}
    </div>
    <div class="panel-body">
      <p>{{message}}</p>
      <ul>
        <li ng-repeat="todo in todos">
          <span>{{todo.text}}</span>
        </li>
      </ul>
      <form ng-submit="addTodo()">
        <input type="text" ng-model="todo.text" size="30"
              placeholder="add new todo here" />
        <input class="btn-primary" type="submit" value="add" />
      </form>
    </div>
  </div>
</section>
