<article ng-repeat="geometry_type in geometry_types" class="panel panel-info">
  <header class="panel-heading">
    <div ng-if="!geometry_type.editing">
      <h3>{{geometry_type.name | titlize}}</h3>
      <a ng-click="geometry_type.startEdit()"><span class="glyphicon glyphicon-pencil"></span></a>
      <a ng-click="geometry_type.delete()"><span class="glyphicon glyphicon-trash"></span></a>
    </div>
    <div ng-if="geometry_type.editing">
      <h3><input type="text" ng-model="geometry_type.name" class="form-control form-custom"></input></h3>
      <a ng-click="geometry_type.stopEdit()"><span class="glyphicon glyphicon-ok"></span></a>
    </div>
  </header>
  <div class="panel-body">

    <article class="panel panel-info">
      <div class="panel-body">
        <h3>Attributes</h3>
        <div ng-controller="GeometryAttributeSpecificationController" ng-init="init(geometry_type)"><div ng-include="template.url"></div></div>
      </div>
    </article>

    <article class="panel panel-info">
      <div class="panel-body">
        <h3>Jobs</h3>
        <div ng-controller="GeometryJobSpecificationController" ng-init="init(geometry_type)"><div ng-include="template.url"></div></div>
      </div>
    </article>

  </div>
</article>

<article class="panel panel-info">
  <header class="panel-heading">
    <a ng-click="addGeometryType()"><span class="glyphicon glyphicon-plus"></span> Geometry Type</a>
  </header>
</article>
