<a ng-click="toggleHelp()" class="pull-right"><span class="glyphicon glyphicon-question-sign"></span></a>
<article ng-if="showingHelp" class="panel panel-info">
  <div class="panel-body">
    <p>All attributes and geometry type names should be lowercase, singular and have spaces between words.</p>
    <p>Attribute Type defines the display and user interaction of the field. Usage should define the validation on input of the field.</p>
    <p>Validation only applys to text input attributes and should come in the form of valid regex. Be careful.</p>
  </div>
</article>
