<article class="panel panel-info">
  <header class="panel-heading">
    <h2>Job Submission:</h2>
  </header>
  <div class="panel-body">
    <table class="table">
      <tbody>
        <tr>
          <td>App Hex Code</td>
          <td><input type="text" class="form-control form-custom"></input></td>
        </tr>
        <tr>
          <td>Test</td>
          <td><input type="text" class="form-control form-custom"></input></td>
        </tr>
        <tr>
          <td>App Bin</td>
          <td><input type="text" class="form-control form-custom"></input></td>
        </tr>
        <tr>
          <td>Batch Queue</td>
          <td><input type="text" class="form-control form-custom"></input></td>
        </tr>
      </tbody>
    </table>
  </div>
</article>
