<article class="panel panel-info">
  <header class="panel-heading">
    <h2>Simulation Settings:</h2>
  </header>
  <div class="panel-body">

    <article class="panel panel-info">
      <div class="panel-body">
        <h3>Attributes:</h3>
        <div ng-controller="SimulationAttributeSpecificationController"><div ng-include="template.url"></div></div>
      </div>
    </article>

    <article class="panel panel-info">
      <div class="panel-body">
        <h3>Jobs:</h3>
        <div ng-controller="SimulationJobSpecificationController"><div ng-include="template.url"></div></div>
      </div>
    </article>

  </div>
</article>
